<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuln stand</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Пользователи</h1>

<form id="myForm">
    <label for="name">Введите пользователя:</label>
    <input
            type="text"
            id="name"
            name="user_prompt"
            required
            maxlength="100"
            size="50"
    >
    <button type="submit">Найти</button>
</form>

<ul id="user-list">
</ul>

<script>
    $(document).ready(function() {
        $('#myForm').on('submit', function(event) {
            event.preventDefault();
            const formData = {
                user_prompt: $('#name').val(),
                select_type: $('#queryType').val()
            };
            $.ajax({
                url: '/api/select_data',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: formData,
                success: function(response) {
                    $('#user-list').empty();
                    if (Array.isArray(response)) {
                        response.forEach(function(user) {
                            const userInfo = `ID: ${user.id}, Username: ${user.username}, Admin: ${user.isAdmin}`;
                            $('#user-list').append('<li>' + userInfo + '</li>');
                        });
                    } else {
                        $('#user-list').append('<li>Нет данных для отображения</li>');
                    }
                },
                error: function(xhr, status, error) {
                    alert('Ошибка: ' + (xhr.responseJSON?.message || 'Не удалось выполнить запрос'));
                }
            });
        });
    });
</script>
</body>
</html>
