<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Пользователи</h1>
    
    <form id="myForm">
        <label for="name">Введите предмет:</label>
        <input
            type="text"
            id="name"
            name="user_prompt"
            required
            maxlength="100"
            size="50"
        >
        
        <label for="queryType">Тип запроса:</label>
        <select name="select_type" id="queryType">
            <option value="raw" selected>Обычный</option>
            <option value="parametrized">Параметризованный</option>
            <option value="orm">ORM</option>
        </select>
        
        <button type="submit">Найти</button>
    </form>
    
    <ul id="user-list">
    </ul>
    <script>
        $(document).ready(function() {
            $('#myForm').submit(function(event) {
                event.preventDefault();
                const formData = {
                    user_prompt: $('#name').val(),
                    select_type: $('#queryType').val()
                };
                $.ajax({
                    url: '/select_data',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('#user-list').empty();
                        response.forEach(function(user) {
                            $('#user-list').append('<li>' + user + '</li>');
                        });
                    },
                    error: function() {
                        alert('Ошибка при выполнении запроса');
                    }
                });
            });
        });
    </script>
</body>
</html>
